.searchPage__logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage__header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.searchPage__headerBody > .search > .search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage__options {
  display: flex;
  align-items: center;
  color: grey;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
  display: flex;
}

.searchPage__options a,
.searchPage__optionsRight a {
  text-decoration: none;
  color: gray;
}

.searchPage__optionsRight {
  margin-left: 80px;
}

.searchPage__option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage__option a {
  margin-left: 5px;
}

.searchPage__result {
  margin: 40px 0;
}

.searchImagePage__resultCount {
  color: #70757a;
  font-size: 14px;
  margin-bottom: 20px;
}

.searchImagePage__results {
  max-width: 70%;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

.searchImagePage__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.searchImagePage__resultImage {
  object-fit: contain;
  width: 400px;
  height: 300px;
  margin-right: 15px;
}

.searchImagePage__result > a {
  text-decoration: none;
  color: #70757a;
  font-size: 12px;
}

.searchImagePage__result > p {
  color: #70757a;
  font-size: 10px;
  margin-bottom: 20px;
}

.resultImage__snippet {
  margin-top: 6px;
}
